<body class="layout">

<div class="wrap">

  <div class="header_img">
    <img src='assets/dog02.jpg' >
  </div>


  <p class="header_lead">愛犬の健康管理していますか？</p>
  <p>こちらはスマホ上で愛犬の健康管理ができる<br>アプリ型の健康手帳です。<br>
  日々の愛犬の健康状態を把握したり<br>ワクチン接種や予防薬の投薬忘れを<br>防ぐことができます。<br>
  </p>

  <div class="header_log">
    <ul class="header_show">
      <li class="listnew"><%= link_to "新規登録(無料)", new_user_registration_path %></li>
      <li class="listin"><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
  </div>

  <p class="header_heading">わんちゃん健康手帳でできること</p>

  <ul class="header_point">
    <li class="list"><a href="#"><i class="fas fa-check"></i><span>測定した体重の記録</span></a></li>
    <li class="list"><a href="#"><i class="fas fa-check"></i><span>ワクチンや狂犬病の記録</span></a></li>
    <li class="list"><a href="#"><i class="fas fa-check"></i><span>持病がある犬の投薬状況管理</span></a></li>
    <li class="list"><a href="#"><i class="fas fa-check"></i><span>犬と飼い主さんのリスト作成</span></a></li>
    <li class="list"><a href="#"><i class="fas fa-check"></i><span>プロフィール作成</span></a></li>
  </ul>


</div>

</body>
