/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset 'UTF-8';

 body {
   font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
 }

 * {
   box-sizing: border-box;
   list-style: none;
 }

.layout {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 5px 0 5px;
}

li {
  list-style-type: none;
}

.btn-primary-f {
  display: inline-block;
  width: 200px;
  padding: 0.3em 3em;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border: solid 2px #6b7a8f;
  background: #6b7a8f;
  border-radius: 3px;
  transition: .4s;
 }

.btn-primary-f:hover {
    background: white;
    color: #6b7a8f;
}

.header_main {
  text-align: left;
}
.header_main a {
  color: #f7882f;
  font-size: 28px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}
