// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header, .header_grobal, .footer {
  display: flex;
  height: 24px;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
  background-color: #efaa52;
}

.signup, .login {
  display: inline;
  float: right;
  background-color: #efaa52;
}

.signup a {
  color: #1683ab;
  text-decoration: none;
}

.header_grobal li:hover {
  background-color: #efaa52;
}

.header_grobal a:hover {
  color: #1683ab;
}

.header_grobal span {
  display: inline-block;
  color: white;
  line-height: 28px;
  font-size: 12px;
  padding-left: 14px;
  padding-right: 14px;
}

.login a {
  color:  #1683ab;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 24.4px;
}

.header_main {
  text-align: left;
}
.header_main a {
  color: #ab3e16;
  font-size: 28px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}

.header_img img {
  width: 80%;
}

.return {
  margin-top: 20px;
  margin-bottom: 100px;
}

.return a {
  color: #1683ab;
  text-decoration: none;
}

.name {
  margin-top: 20px;
}

.field {
  color: #48120e;
}

.form-control {
  width: 300px;
  border: 1px solid #efaa52;
  border-radius: 10px;
  height: 30px;
}

.btn-primary {
  display: inline-block;
  padding: 0.3em 3em;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border: solid 2px #1683ab;
  background: #1683ab;
  border-radius: 3px;
  transition: .4s;
 }

.btn-primary:hover {
    background: white;
    color: #1683ab;
}

.btn-primary-f {
  display: inline-block;
  width: 200px;
  padding: 0.3em 3em;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border: solid 2px #1683ab;
  background: #1683ab;
  border-radius: 3px;
  transition: .4s;
 }

.btn-primary-f:hover {
    background: white;
    color: #1683ab;
}
h3,p {
  color: #48120e;
}

.header_lead {
  color: #efaa52;
  font-size: 22px;
}

.header_log {
  background-color: #f8f3e6;
  background-position: center;
  border: 2px solid #efaa52;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 70px;
  max-width: 600px;
}
.header_show {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  height: 100px;
  padding: 0px;
  margin: 10px auto;
  /*vertical-align: baseline;
  background-color: white;*/
}

.header_show li {
  display: inline-block;
  width: 45%;
  height: 70px;
  margin: 15px auto;
  padding: 5px;
  background-color: white;
  border: solid 1px #efaa52;
  border-radius: 4px;
}

.header_show li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color:  #1683ab;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 58px;
}

.header_show li:hover {
  background-color: #e7cc8f;
}

.header_heading {
  color: #48120e;
  font-size: 20px;
  max-width: 700px;
  line-height: 60px;
  margin: 0 auto;
  border-bottom: 2px solid #efaa52;
  border-top: 2px solid #efaa52;
}

.header_point {
  flex-direction: column;
  padding: 0;
}

.header_point li {
  /*display: inline-block;*/
  max-width: 700px;
  height: 40px;
  margin: 15px auto;
  padding: 5px;
  text-align: left;
  background-color: #f8f3e6;
  border: solid 1px #f8f3e6;
  border-radius: 4px;
}

.header_point a {
  margin-left: 15%;
}
.header_point span {
  display: inline-block;
  color: #48120e;
  text-decoration: none;
  line-height: 28px;
  text-align: left;
  vertical-align: baseline;
}

h5 {
  color: red;
  font-size: 16px;
}

.footer {
  margin-top: 50px;
}
