// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inindex {
  position: relative;
}
ul.index_list {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin: 30px auto;
    padding-left: 0px;
}

.index_list li {
    display: inline-block;
    position: relative;
    float: left;
    width: 20%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.profile_index_list_5 {
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px darkorange;
    background-color: #e6e6e6;
}

.profile_index_list_1 {
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.profile_index_list_2 {
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.profile_index_list_3 {
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.profile_index_list_4 {
    border-bottom: solid 1px #e6e6e6;
    border-right: solid 1px rgba(230, 230, 230, 0);
}

.index_list a {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #663800;
}
.index_list i {
  color: #663800;
}
/*.index_list_1 a {
  margin-top: -11px;
}
.index_list_1 i {
  margin-top: 10px;
}*/

.index_list li:hover {
  background-color: #e6e6e6;
  border-bottom: solid 1px darkorange;
}
.index_list:hover li:not(:hover) {
  background-color: white;
  border-bottom: solid 1px #e6e6e6;
}
.hitokoto {
  color: darkorange;
  font-size: 16px;
  background: linear-gradient(transparent 75%, #ffe6ff 75%);
}
.hitokoto1 {
  background: linear-gradient(transparent 75%, #ffe6ff 75%);
}

.btn-primary {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border: solid 2px #008cff;
  background: #008cff;
  border-radius: 3px;
  transition: .4s;
 }

.btn-primary:hover {
    background: white;
    color: #008cff;
}

.square_btn_sm {
    display: inline-block;
    padding: 0px 3px;
    font-size: 12px;
    text-decoration: none;
    color: #008cff;
    border: solid 2px #008cff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_sm:hover {
    background: #008cff;
    color: white;
}

table.profile_index_table {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  margin: 0px auto;
  max-width: 500px;
  table-layout: fixed;
  width: 100%;
}

table.profile_index_table td {
  border: solid 1px #cccccc;
  color: #663800;
  text-align: center;
  vertical-align: middle;
  padding: 1px 2px;
}

.profile_index_table td:first-of-type {
  background-color: #e6e6e6;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
  width: 20%;
}

.field input {
  font-size: 18px;
  padding: 2px;
  background-color: #fff;
  border-color: darkorange;
  text-align: center;
}

.field > .form-profile-4 {
  width: 80px;
}

.field > .form-profile-9 {
  width: 300px;
  height: 80px;
  font-size: 15px;
}

.field > .form-profile-10 {
  width: 300px;
  height: 80px;
  font-size: 15px;
}

.field > .form-profile-11 {
  width: 300px;
  height: 80px;
  font-size: 15px;
}

.field > .form-profile-12 {
  width: 300px;
  height: 80px;
  font-size: 15px;
}

.field > .form-profile-13 {
  width: 300px;
  height: 80px;
  font-size: 15px;
}

.profile-field {
  margin-bottom: 20px;
}

.delete {
  margin-top: 20px;
}
